/*
.plus-button {
    display: block;
    position: fixed;
    background-color: white;
    border: solid;
    border-radius: 50%;
    border-color: black;
    color: black;
    font-size: 60px;
    text-align: center;
    padding: 15px 32px;
    bottom: 30px;
    right: 30px;
}*/

.mynavbar {
    height: 10rem;
}

p {
    min-width: 10px;
    max-width: 1200px;
}

img {
    min-width: 10px;
    max-width: 500px;
}