/*

STRUCTURE

element {
    parent-display-options

    display-type
    display-options
        columns
        rows

    width
    height

    text
    font
    background

    padding
    border
    margin
        top
        bottom
        right
        left
 }

*/

body {
    font-family: sans-serif;
}

/* HEADER (Title + navbar) */

body > header {
    display: flex;
    justify-content: space-between;

    margin: 10px;

    border-style: solid;
    border-color: black;
}

header > .title {
    display: block;

    width: 30%;

    margin-left: 20px;
}

.title > h1 {
    display: block;
}

.title > h4 {
    display: block;
}

header > nav {
    display: block;

    text-align: right;
}

nav > p {
    display: block;

    margin-top: 3rem;
    margin-right: 20px;
}

/* CONTENT (Articles + sidebar) */

body > .content {
    display: flex;
    justify-content: space-between;

    border-style: none;
    border-color: black;

    margin: 10px 0px;
}

.content > main {
    order: 2;

    display: flex;
    flex-direction: column;

    border-style: solid;
    border-color: black;

    margin: 10px;
}

main > article {
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    
    border-bottom: 3px;
    border-bottom-style: solid;
    border-bottom-color: black;

    margin: 10px;
}

article > .img-post {
    grid-column-start: 1;
    grid-column-end: 2;

    margin: 10px;
}

article > .info-post {
    grid-column-start: 2;
    grid-column-end: 3;
    
    display: grid;
    grid-template-rows: 20% 7fr;

    margin: 10px;
}

.info-post > .text-post {
    grid-row-start: 2;
    grid-row-end: 3;
}

.info-post > .user-data {
    display: grid;
    grid-template-columns: 50px 200px 1fr 200px;
    grid-row-start: 1;
    grid-row-end: 2;
}

.user-data > .propic {
    margin: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.user-data > .name {
    margin: 10px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.user-data > .time-ago-post {
    margin: 10px;
    display: block;
    text-align: right;
    width: 200px;
    grid-column-start: 4;
    grid-column-end: 5;
}

.content > aside {
    order: 1;

    width: 50%;
    margin: 10px;
}

aside > .aside-content {

    border-style: solid;
    border-color: black;
}

.aside-content > p {
    margin: 10px;
}

/* ARTICLES */

.name {
    width: 50%;
}

.propic {
    width: 30px;
}

.time-ago-post {
    width: 7%;
}

.text-post {
    width: 77%;
}

.img-post {
    width: 10rem;
}

/* BUTTON */

.plus-button {
    display: block;
    position: fixed;
    background-color: white;
    border: solid;
    border-radius: 50%;
    border-color: black;
    color: black;
    font-size: 60px;
    text-align: center;
    padding: 15px 32px;
    bottom: 30px;
    right: 30px;
}

/*Tablet*/
@media screen and (/*743px <=*/ width <= 1000px) {    

    /* HEADER (Title + navbar) */

    body > header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
    }

    header > .title {
        width: auto;
        margin: 10px;
    }

    .title > h4 {
        display: none;
    }

    header > nav {
        display: block;
        margin: 10px;
    }

    nav > p {
        display: block;
        margin-top: 30px;
        margin-right: auto;
      }

    /* CONTENT (Articles + sidebar) */

    body > .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .content > aside {
        width: auto;
    }

    aside > .aside-content {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border-style: solid; /*none;*/
        border-color: black;
    }

    .aside-content > p {
        margin: 10px;
    }

    /* ARTICLES */  

    .info-post > .user-data {
        display: grid;
        grid-template-columns: 1fr 1fr 5fr 5fr;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .info-post > .text-post {
        width: auto;
    }

    /*
    .name {
        width: 50%;
    }
    
    .propic {   
        width: 30px;
    }
    */
    .time-ago-post {
        width: auto;
    }

    /*
    .text-post {
        width: 77%;
    }
    */
    
    .img-post {
        width: 300px;
    }

}

/* Smartphone */
@media screen and (width <= 400px) {    

    body > header {
        display: flex;
        flex-direction: column;
        width: 360px;
        margin: 10px;
    }

    header > .title {
        width: auto;
        margin: 10px;
    }

    .title > h4 {
        display: none;
    }

    header > nav {
        display: none;
        text-align: left;
        margin-left: 20px;
        margin-top: 10px;
    }

    nav > p {
        margin-top: 10px;
    }

    body > .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    main > article {
        display: flex;
        flex-direction: column;
    }
    
    article > .info-post {
        display: flex;
        flex-direction: column;
    }

    .info-post > .user-data {

    }

    .img-post {
        width: 300px;
    }

    

}