.plus-button {
    background-color: #e1e1d3d2;
    border: solid;
    border-color: #82828281 ;
    border-width: 1px;
    border-radius: 50%;
    bottom: 30px;
    color: #82828281;
    height: 60px;
    position: fixed;
    right: 30px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 60px;
}

.post-txt {
    text-align: justify;
}

p {
    min-width: 10px;
    max-width: 1200px;
}

img {
    min-height: 10px;
    min-width: 10px;
    max-height: 1000px;
    max-width: 1000px;
}

@media only screen and (width < 992px) {

    .aside-paragraph {
        text-align: center;
    }

}

@media only screen and (width < 768px) {

    .post-img {
        max-width: 600px;
    }

}

