/*

FORMAT OF THIS STYLE-SHEET 

parent-element > element {
    parent-display-options

    display-type
    display-options
        columns
        rows

    width
    height

    text
    font
    background

    padding
    border
    margin
        top
        bottom
        right
        left
 }

*/

/* BODY */

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-justify: distribute;
    line-height: 1.3;
}

/* HEADER: title and navbar*/

body > header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding: 0.5%;
    border-style: solid;
    border-color: black;
    margin: 0.5%;
    
}

    header > .title {
        
        padding: 0.5%;
        border-style: solid;
        border-color: black;
        margin: 0.5%;
    }

    header > nav {

        padding: 0.5%;
        border-style: solid;
        border-color: black;
        margin: 0.5%;
    }

/* CONTENT: aside and articles*/

body > .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/

    padding: 0.5%;
    border-style: solid;
    border-color: black;
    margin: 0.5%;
}

    /* ASIDE */

    .content > aside {
        order: 1;

        width: 15%;
        
        padding: 0.5%;
        border-style: solid;
        border-color: black;
        margin: 0.5%;
    }
        aside > .aside-links {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            padding: 0.5%;
            border-style: solid;
            border-color: black;
            margin: 0.5%;

        }

    /* ARTICLES */

    .content > main {
        order: 2;

        width: 80%; 

        padding: 0.5%;
        border-style: solid;
        border-color: black;
        margin: 0.5%;
    }

        main > article {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            padding: 0.5%;
            border-style: solid;
            border-color: black;
            margin: 0.5%;
        }

            article > .post-img {
                order: 1;

                padding: 0.5%;
                border-style: solid;
                border-color: black;
                margin: 0.5%;
            }

            article > .post-info {
                order: 2;

                

                padding: 0.5%;
                border-style: solid;
                border-color: black;
                margin: 0.5%;   
            }

/* GENERAL CORRECTIONS AND OTHERS */

.plus-button {
    
    border-style: solid;
    border-color: black;
}

img {
    max-width: 100px;
}

p {
    max-width: 1200px;
}

/* MEDIA QUERIES*/

/* TABLET */
@media only screen and (width <= 900px) {
    
    body > .content {
        flex-direction: column;
    }

        .content > aside {
            width: auto;
        }

            aside > .aside-links {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                padding: 0.5%;
                border-style: solid;
                border-color: black;
                margin: 0.5%;

            }

        .content > main {
            width: auto;
        }
}

/* SMARTPHONE */
@media only screen and (width <= 450px) {
    header > nav {
        display: none;
    }
}

/* TOO-SMALL */
/*
@media only screen and (width <= 280px) {
    body {
        display: none;
    }
}
*/