{% extends 'base_template.html' %}
{% block title%}Chi siamo{% endblock %}
{% block content %}

<main class="row py-5 gy-3">
    <div class="row gx-5">
        <div class="col-3">
            <div class="card mb-3">
                <img src="{{ url_for('static', filename='src/Asuka_Soryu.jpeg') }}" class="card-img-top img-fluid    " alt="Immagine sviluppatore 1">
                <div class="card-body">
                    <h5 class="card-title fst-italic">Sono nata per pilotare gli eva!</h5>
                    <p class="card-text"><small class="text-muted">Last updated 3 moths ago</small></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row"><h3>Asuka Soryu Langley</h3></div>
            <div class="row dev-description"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla doloribus fugiat magni quibusdam architecto nihil, et tempore doloremque ea dolores autem, deleniti enim aliquid fuga eveniet nemo est possimus quisquam?
            Ipsum quidem suscipit sed beatae. Id omnis error soluta ad consequuntur deleniti esse quas totam quia natus deserunt sunt fugit sed, officia reiciendis obcaecati aperiam at autem quod! Esse, dolorem?
            Dolores laboriosam, vel modi qui enim eligendi corporis tenetur et consequatur vitae harum amet animi, architecto dicta, cupiditate explicabo iure error autem quo perspiciatis hic expedita magni dolorem? Officia, voluptate!
            Non accusantium perspiciatis esse, quia consectetur ad quas hic sed praesentium ab aliquam adipisci at dolorem placeat! Unde autem maxime nemo numquam beatae. Exercitationem, quisquam dignissimos voluptate debitis magnam perspiciatis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim et, voluptate necessitatibus fuga dolore assumenda accusamus fugiat amet adipisci itaque? Ipsam commodi itaque, debitis qui laudantium error quaerat quia fugiat!
            Asperiores saepe laborum voluptates harum iusto quasi sed dicta autem aspernatur. Dolor magni asperiores commodi nostrum eligendi similique, laboriosam fuga molestiae. Obcaecati praesentium repellendus nisi non veritatis quasi, explicabo laudantium.
            Dicta perspiciatis neque itaque blanditiis veritatis vitae optio quod harum et iste, voluptate hic aspernatur accusamus temporibus molestias nobis? Perferendis quia cumque soluta aperiam minus, corrupti adipisci itaque reprehenderit tempore?
            Iste dicta commodi delectus perspiciatis omnis doloremque aspernatur, nostrum ducimus magni et rerum molestiae vel aliquid excepturi blanditiis maiores deleniti alias? Vero assumenda quidem ipsam vel provident tenetur explicabo qui!
            </p></div>
        </div>
    </div>
</main>

{% endblock %}