{% extends 'base.html' %}

{% block title%}Chi siamo{% endblock %}

{% block about_active %}active{% endblock %}

{% block content %}

    <main class="row py-5">

        {% for developer in admins %}

            <div class="row pb-5">
                <div class="col-6 col-sm-5 col-md-4 col-lg-3">
                    <div class="card mb-3">
                        <img src="{{ url_for('static', filename='src/propics/'+developer.propic) }}" class="card-img-top img-fluid" alt="Immagine sviluppatore 1">
                        <div class="card-body">
                            <h5 class="card-title fst-italic">{{ developer.motto }}</h5>
                            <p class="card-text"><small class="text-muted">Last updated {{ developer.monthsago_update }} moths ago</small></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row"><h3>{{ developer.fullname }}</h3></div>
                    <div class="row dev-description"><p>{{ developer.description }}</p></div>
                </div>
            </div>

        {% endfor %}

    </main>

{% endblock %}