<!DOCTYPE html>
<html lang="it">

<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>Faccialibro - {% block title %}Template{% endblock %}</title>
    {% block styles %}
        <!-- Bootstrap CSS -->
        {{ bootstrap.load_css() }}
        <!-- Personal CSS -->
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    {% endblock %}
</head>

<body class="container-fluid">

    <header class="row">

        {% block navbar %}
        <!-- NAVBAR -->
        <!-- copy-pasted from https://getbootstrap.com/docs/5.2/components/navbar/#nav but with the navbar-brand sobstituted by a h1, h5 -->
        <nav class="navbar navbar-expand-lg fixed-top" style="min-height: 5rem; background-color: #e1e1d3;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <p class="d-inline display-4">Faccialibro</p>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav navbar-nav-scroll nav-pills ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% block home_active %}{% endblock %}" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block about_active %}{% endblock %}" aria-current="page" href="{{ url_for('about') }}">Chi siamo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block contacts_active %}{% endblock %}" aria-current="page" href="{{ url_for('contacts') }}">Contattaci</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal">
                    {% block admin_name %} 
                        {{ session.admin_name }}
                    {% endblock %}
                </button>
            </div>
        </nav>
        <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Chi sei?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/admin_access" method="POST">
                            <select name='admin_name' class="form-select mb-3" aria-label="Scelta admin">
                                <option selected value="Asuka">Asuka</option>
                                <option value="Ritsuko">Ritsuko</option> 
                                <option value="Misato">Misato</option>
                            </select>
                            <button type="submit" class="btn btn-secondary">Conferma</button>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
        {% endblock %}

    </header>

    <div style="margin-top: 6rem;">
        {% block content %}{% endblock %}
    </div>

{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
{% endblock %}

</body>
</html>