{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}
{% block home_active %}active{% endblock %}

{% block content %}

    <!-- Aside bar + Posts -->
    <div class="row justify-content-around">
        
        <!-- Aside bar -->
        <aside class="col-12 col-lg-2">
        {% block aside %}    
            <div class="py-3 row">
                <div class="col col-lg-12"><p class="aside-paragraph"><a href="#" id="todayBtn">Oggi</a></p></div>
                <div class="col col-lg-12"><p class="aside-paragraph"><a href="#" id="thisWeekBtn">Questa settimana</a></p></div>
                <div class="col col-lg-12"><p class="aside-paragraph"><a href="#" id="thisMonthBtn">Questo mese</a></p></div>
            </div>
        {% endblock %}
        </aside>

        <main class="col col-lg-9 row justify-content-center">
        {% block main %}

            <!-- Posts -->
            {% for post in posts %}
            <a class='href-post' href="{{ url_for('post', id=post.id)}} ">
            <article class="col-12 rounded-2 p-2 border border-2 mx-2 my-2 row justify-content-between g-3">
                                    
                <div class="col-12 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center">
                    <img class="img-fluid rounded-2 post-img" alt="Immagine del post" src="{{ url_for('static', filename='images/uploads/'+post.img) }}">
                </div>

                <div class="col-12 col-md">

                    <div class="row justify-content-between rounded-2 py-2" {% if post.user.username == current_user.username %} style="background-color: #e1e1d6" {% endif %}>
                        <div class="col-8 col-md-10 col-lg-8 col-xl-7 col-xxl-6 row">
                            <div class="col-3 col-md-2 d-flex justify-content-center align-items-center ps-1"><img class="img-fluid rounded-3" src="{{ url_for('static', filename='images/propics/'+post.user.propic) }}" alt="Immagine del profilo dell'utente"></div>
                            <div class="col"><h5><b>@{{ post.user.username }}</b></h5></div>
                        </div>  
                        <div class="col">
                            <p class="daysago" style="text-align: right;">{{ post.daysago }} days ago</p>
                        </div>                            
                    </div>

                    <div class="row my-3">
                        <p class="my-3 post-txt overflow-hidden" > {{ post.text }} </p>
                    </div>

                </div>
            </article>
            </a>
            {% endfor %}
        
        {% endblock %}
        </main>

    </div>

    {% if current_user.username %}
        <!-- Plus button -->
        <button class="plus-button" data-bs-toggle="modal" data-bs-target="#new-post-modal">+</button>
        
        <!-- New post modal -->
        <div class="modal fade" id="new-post-modal" tabindex="-1" aria-labelledby="new-post-label" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal header: Title and close button X -->
                <div class="modal-header">
                <h1 class="modal-title fs-5" id="new-post-modalLabel">Crea un nuovo post!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Modal body: form and submit button-->
                <div class="modal-body">
                    <form action="{{ url_for('new_post') }}" method="POST" enctype="multipart/form-data">
                        <!-- Username -->
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-at-char">@</span>
                            <input name="username" type="text" class="form-control" value="{{current_user.username}}" aria-label="Username" aria-describedby="basic-at-char" required readonly>
                        </div>                          
                        <!-- Text -->
                        <div class="mb-3">
                            <label for="inputText" class="form-label">Cosa c'è di nuovo?</label>
                            <textarea name="text" class="form-control" class="form-control" rows="3" id="inputText" minlength="30" maxlength="200" required></textarea>
                        </div>
                        <!-- Image -->
                        <div class="input-group mb-3">
                            <input name="img" type="file" class="form-control" id="inputGroupFile02">
                        </div>                          
                        <!-- Date -->
                        <div class="mb-3">
                            <label for="date" class="form-label">Data</label>
                            <input name="date" type="date" class="form-control" aria-describedby="Data del post" value="{{utils.today}}" min="2021-01-01" max="{{utils.today}}" required>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary">Crea post</button>                    
                    
                    </form>
                </div>
            </div>
            </div>
        </div>
  
    {% endif %}

{% endblock %}