{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}
{% block home_active %}active{% endblock %}

{% block content %}

    <!-- ASIDE + ARTICLES -->
    <div class="row justify-content-around">
        
        <!-- ASIDE BAR -->
        <aside class="col-12 col-lg-2">
        {% block aside %}
            
                <div class="py-3 row">
                    <div class="col col-lg-12"><p class="aside-paragraph"><a href="#">Oggi</a></p></div>
                    <div class="col col-lg-12"><p class="aside-paragraph"><a href="#">Questa settimana</a></p></div>
                    <div class="col col-lg-12"><p class="aside-paragraph"><a href="#">Questo mese</a></p></div>
                </div>
            
        {% endblock %}
        </aside>

        <main class="col col-lg-9 row justify-content-center">
        {% block main %}

            <!-- ARTICLES -->
            {% for article in articles %}

                <a class='href-post' href="{{ url_for('post', id=article.id)}} ">
                <article class="col-12 rounded-2 p-2 border border-2 mx-2 my-2 row justify-content-between g-3">
                                        
                    <!-- https://getbootstrap.com/docs/5.2/utilities/flex/#enable-flex-behaviors -->
                    <div class="col-12 col-md-4 col-lg-3 col-xl-2 d-flex justify-content-center align-items-center">
                        <img class="img-fluid rounded-2 post-img" alt="Immagine del post" src="{{ url_for('static', filename='src/contents/'+article.img) }}">
                    </div>

                    <div class="col-12 col-md">

                        <div class="row justify-content-between" {% if article.user.username == session['logged_username'] %} style="background-color: rgba(189, 183, 107, 0.5);" {% endif %}>
                            <div class="col-8 col-md-10 col-lg-8 col-xl-7 col-xxl-6 row">
                                <div class="col-3 col-md-2 d-flex justify-content-center align-items-center"><img class="img-fluid rounded-3" src="{{ url_for('static', filename='src/propics/'+article.user.propic) }}" alt="Immagine del profilo dell'utente"></div>
                                <div class="col"><h5><b>@{{ article.user.username }}</b></h5></div>
                            </div>  
                            <div class="col">
                                <p style="text-align: right;">{{ article.daysago }} days ago</p>
                            </div>                            
                        </div>

                        <div class="row">
                            <p class="my-3 post-txt" > {{ article.text }} </p>
                        </div>

                    </div>
                </article>
                </a>

            {% endfor %}
        
        {% endblock %}
        </main>

    </div>

    {% if session.logged_username %}
        <!-- PLUS BUTTON -->
        <button class="plus-button">+</button>
    {% endif %}

{% endblock %}