{% extends 'index.html' %}

{% block title %}Post{% endblock %}

{% block home_active %}active{% endblock %}

{% block main %} 
    <article class="row border rounded-3 my-3  justify-content-center align-items-center">

        <div class="row">
            <div class="col-12 col-lg-8 d-flex justify-content-center align-items-center">
                <img class="img-fluid rounded-2 my-4" src="{{ url_for('static', filename='images/uploads/'+post.img) }}" alt="Immagine del post" >
            </div>

            <div class="col my-2 mx-5 mx-lg-2 d-flex flex-column justify-content-between">
                <div class="row my-2 justify-content-around">
                    <div class="col-2 col-lg-6 d-flex justify-content-start">
                        <img class="img-fluid rounded-4" src="{{ url_for('static', filename='images/propics/'+post.user.propic) }}" alt="Immagine del profilo" >
                    </div>
                    <div class="col d-flex align-items-center justify-content-end">
                        <p class="h5">@{{ post.user.username }}</p>
                    </div>
                </div>
                <div class="row my-2  post-txt">{{ post.text }}</div>
            </div>

            

            <div class="row d-flex flex-column justify-content-around">

                <div class="row h4 d-flex justify-content-center">
                    Commenti
                </div>

                

                <div class="row d-flex justify-content-center">

                    <div class="col-md-8 col-lg-6">

                        <div class="card shadow-0 border my-3" style="background-color: #f0f2f5;">

                            
                            <div class="card-body p-4">

                                {% if session.logged_username %}
                            
                                <div class="form-outline mb-4">
                                    <form action="{{url_for('add_comment', post_id=post.id, username=session.logged_username)}}" method="POST">
                                        <label class="form-label" for="addComment">Aggiungi un commento:</label>
                                        <input name="text" type="text" id="addComment" class="form-control" placeholder="Il tuo commento..." />
                                        <button type="submit" class="btn btn-primary mt-2">Pubblica</button>
                                    </form>
                                </div>

                                {% endif %}

                                {% if post.comments %}

                                    {% for comment in post.comments %}
                                    <div class="card mb-4">    
                                        <div class="card-body">
                                            <p>{{comment.text}}</p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex flex-row align-items-center">
                                                    <img src="{{ url_for('static', filename='images/propics/'+comment.user.propic) }}" alt="propic" width="25" eight="25" />
                                                    <p class="small mb-0 ms-2">@{{comment.user.username}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}

                                {% else %}
                                    
                                    <div class="h5 d-flex justify-content-center"> Nessun commento 😔 </div>

                                {% endif %}

                            </div>

                        </div>

                    </div>

                </div>
    
            </div>

            

        </div>

        

    </article>

{% endblock %}